@page
@model BlabberApp.Client.Pages.FeedModel
@using BlabberApp.Domain
@using BlabberApp.Services
@inject IBlabService BlabService
@{
    ViewData["Title"] = "Feed";
}

<section id="main">
    <h1>Feed</h1>
    <div id = "newBlab">
        <form method="post">
            <label>Email: </label>
            <input type = "email" name = "emailAddress">
            <label>Blab: </label>
            <input type="text" name="blabMessage">
            <input type="submit">   
        </form>
    </div>
    <div id="content">
        <p>
                @foreach(@Blab blab in @BlabService.GetAll()){
                    <li><b>@blab.user.Email</b>: @blab.Message.ToString()</li>
                }
            </p>
    </div>
</section>


