@page
@model BlabberApp.Client.Pages.FeedModel
@{
    ViewData["Title"] = "Feed";
}

<section id="main">
    <h1>Feed</h1>
    <div id = "newBlab">
        <form method="post">
            <label>Email: </label>
            <input type = "email" name = "emailAddress">
            <label>Blab: </label>
            <input type="text" name="blabMessage">
            <input type="submit">   
        </form>
    </div>
    <div id="content">
        Feed will go here!
    </div>
</section>


